:root{
  --white: #fff;
  --font-gray: #425966;  
  --red-font: #D84A4A;
}

@font-face {
  font-family: 'Monster Clubhouse';
  src: url('../../assets/fonts/Monster\ Clubhouse.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.new-recipe-card{
  height: 17.9rem;
  width: 18.2rem;
  background: linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%);
  box-shadow: 0px 5px 9px #8395A766;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.new-recipe-card .recipe-image{
  width: 11rem;
  height: 11rem;
  position: absolute;
  top: -2.7rem;
}

.new-recipe-card .new-recipe-name{
  margin-top: 7.6rem;
  color: var(--red-font);
  font-size: 2rem;
}

.new-recipe-name span{
  font-family: 'Monster Clubhouse';
}

.new-recipe-qualification{
  display: flex;
  width: 85%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 6.3rem;
}

.new-recipe-qualification .new-recipe-star{
  width: 1.6rem;
  height: 1.6rem;
}

.new-recipe-qualification .new-recipe-first-group-ranking{
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  place-items: center;
}

.new-recipe-first-group-ranking  p{
  font-size: 1.7rem;
  color: var(--font-gray);
}

.new-recipe-qualification .new-recipe-hearth{
  width: 1.2rem;
  height: 1.2rem;
}

@media screen and (min-width: 767px){
  .new-recipe-card{
    width: 26.6rem;
    height: 26.9rem;
    margin-left: 0px;
  }  
  
  .new-recipe-card .recipe-image{
    width: 16.3rem;
    height: 16.3rem;
    top: -6.5rem;
  }

  .new-recipe-card .new-recipe-name{
    font-size: 3rem;
    margin-top: 10.8rem;
  }

  .new-recipe-qualification .new-recipe-star{
    width: 2.3rem;
    height: 2.3rem;
  }

  .new-recipe-first-group-ranking  p{
    font-size: 2.6rem;
    margin-left: 1.2rem;
  }

  .new-recipe-qualification .new-recipe-hearth{
    width: 1.8rem;
    height: 1.8rem;
  }
}