:root{
  --white: #fff;
  --font-gray: #425966;  
  --red-font: #D84A4A;
}

@font-face {
  font-family: 'Monster Clubhouse';
  src: url('../../assets/fonts/Monster\ Clubhouse.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.new-recipe-card{
  height: 17.9rem;
  width: 18.2rem;
  background: linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%);
  box-shadow: 0px 5px 9px #8395A766;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.new-recipe-card .recipe-image{
  width: 11rem;
  height: 11rem;
  position: absolute;
  top: -2.7rem;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.ojinjeo-muchin{
  background-image: url('../../assets/Ojingeo-muchim.png');
}

.cola-chicken{
  background-image: url('../../assets/Ojingeo-muchim-1.png');
}

.roasted-carrot{
  background-image: url('../../assets/Ojingeo-muchim-5.png');
}

.new-recipe-card .sweet-cherries{
  background-image: url('../../assets/cherry.png');
  background-size: 78%;
}
.new-recipe-card .new-recipe-name{
  margin-top: 7.6rem;
  color: var(--red-font);
  font-size: 2rem;
}

.new-recipe-name span{
  font-family: 'Monster Clubhouse';
}

.new-recipe-qualification{
  display: flex;
  width: 90%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4.3rem;
}

.new-recipe-qualification .new-recipe-star{
  width: 1.6rem;
  height: 1.6rem;
}

.new-recipe-qualification .new-recipe-first-group-ranking{
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  place-items: center;
}

.new-recipe-first-group-ranking  p{
  font-size: 1.7rem;
  color: var(--font-gray);
}

.new-recipe-qualification .new-recipe-hearth{
  width: 1.2rem;
  height: 1.2rem;
}


.first-recipe{
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 375px){
  .new-recipe-qualification{
    margin-top: 4.3rem;
  }
}

@media screen and (min-width: 767px){
  .new-recipe-card{
    position: relative;
    width: 26.6rem;
    height: 26.9rem;
    margin-left: 0px;
  }  
/*   .new-recipe-card:hover{
    top: 32px;
    height: 33.3rem;
    transform-origin: top;
  } */

  .new-recipe-card .recipe-image{
    width: 16.3rem;
    height: 16.3rem;
    top: -6.5rem;
  }

  .new-recipe-card .new-recipe-name{
    font-size: 3rem;
    margin-top: 10.8rem;
  }
  .new-recipe-qualification{
    margin-top: 6.8rem;
  }
  .new-recipe-qualification .new-recipe-star{
    width: 2.3rem;
    height: 2.3rem;
  }

  .new-recipe-first-group-ranking  p{
    font-size: 2.6rem;
    margin-left: 1.2rem;
  }

  .new-recipe-qualification .new-recipe-hearth{
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (min-width: 1279px){
  .new-recipe-card-enlarged{
    top: 4.1rem;
    height: 35.1rem;
    transform-origin: top;
  }

  .new-recipe-qualification{
    margin-top: 6.3rem;
  }
}