:root{
  --red-principal-font: #D84A4A;
}

@font-face {
  font-family: 'Monster Clubhouse';
  src: url('../../assets/fonts/Monster\ Clubhouse.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.new-recipes .new-recipes-title{
  font-family: 'Monster Clubhouse';
  font-size: 5.4rem;
  text-align: center;
  color: var(--red-principal-font);
  margin-top: 1.5rem;
}

.new-recipe-delay{
  width: 90%;
  height: 21.8rem;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}

.new-recipe-delay .new-recipe-delay-container{
  display: flex;
  height: 100%;
  width: 210%;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  overscroll-behavior-x: contain;
}

@media screen and (max-width: 375px) {
  .new-recipes .new-recipes-title{
    margin-top: 10.5rem;
  } 

  .new-recipe-delay .new-recipe-delay-container{
    width: 225%;
  }
}

@media screen and (min-width: 767px){
  .new-recipes .new-recipes-title{
    font-size: 5.4rem;
    text-align: left;
    text-indent: 5.2rem;
    margin-top: .4rem;
  }

  .new-recipe-delay{
    width: 70.7rem;
    height: 36.1rem;
    overflow-x: scroll;
  }

  .new-recipe-delay .new-recipe-delay-container{
    overflow-x: hidden;
    overscroll-behavior: contain;
    width: 168%;
  }
}

@media screen and (min-width: 1279px){
  .new-recipes .new-recipes-title{
    margin-top: 2.8rem;
    text-indent: 6.3rem;
    font-size: 7.3rem;
  }

  .new-recipe-delay{
    width: 115.1rem;
    overflow-x: hidden;
  }

  .new-recipe-delay .new-recipe-delay-container{
    width: 100%;
  }
}